@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@font-face {
    font-family: 'ArtDystopia';
    src:  url("../fonts/artdystopia-webfont.woff" ) format('woff'),
    url("../fonts/artdystopia-webfont.woff2") format('woff2');
}

:root {
    --color-dark: #160546;
    --color-primary: #4A1E6B;
    --color-secondary: #BF0064;
    --color-extra: #81650A;
    --color-accent: #28A19C;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey: #C0C0C0;
    --color-neon-blue: #0CD9C7;
    --color-neon-green: #39FF14;
    --color-neon-green-dark: #00C500;
    --color-neon-purple: #DF00FE;
    --box-shadow: 5px 0px 20px var(--color-grey-light);
    --line: 1px var(--color-grey-lightest) solid;
}

html, body {
    height: 100%;
    background: url("../img/bg2.gif") rgba(74,30,107, 0.7);
    background-size: cover;
    background-blend-mode: color;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    padding: 1rem;
}

.logo {
    max-height: 10rem;
    justify-self: center;
}

.dash {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.info {
    color: var(--color-white);
    font-size: 2rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.option {
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3.5rem;
    font-family: 'ArtDystopia', Fallback, Inconsolata;
}

.option a{
    text-decoration: none;
    color: white;
}
.option a:hover{
    color: black;
}

.menu_title {
    height: 5rem;
    cursor: pointer;
}

.left_hand {
    height: 8rem;
    left: -1000px;
    opacity: 0;
    content:url(../img/hand.png);
}

.right_hand {
    height: 8rem;
    right: 1000px;
    opacity: 0;
    transform: scaleX(-1);
    content:url(../img/hand.png);
}

.option:hover .menu_title {
    filter: invert(100%) drop-shadow(0 0 1.5rem var(--color-white));
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.option:hover .left_hand {
    transition: .2s ease-in-out;
    opacity: 1;
}

.option:active .menu_title {
    color: var(--color-white);
    filter: drop-shadow(0 0 1.5rem var(--color-white));
}

.option:hover .right_hand {
    transition: .2s ease-in-out;
    opacity: 1;
}

.option:active .left_hand {
    content:url(../img/hand2.png);
}

.option:active .right_hand {
    content:url(../img/hand2.png);
}

/* popup */

.popup {
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.popup > * {
    display: flex;
    padding: 0 1rem 0 1rem;
}

.popupHighscore {
    display: flex;
    flex-direction: column;
    border-style: solid;

}

.popupHighscore > * {
    display: flex;
    padding: 0 1rem 0 1rem;
}

.ui-widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    margin: 0;
    height: 2rem;
    font-family: 'Inconsolata', monospace;
    color: var(--color-white);
    border: none;
    background: linear-gradient(to right, var(--color-dark) , var(--color-primary));
}

ui-button {
    background: #C0C0C0;
    border-style: outset;
}

.ui-widget {
    border-style: outset;
}

.pop-body {
    margin: 0;
    border: none;
    background-color: var(--color-grey);
    flex-direction: column;
    font-family: "Times New Roman", Times, serif;
}

.rank {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.profile-pic-wrapper {
    border-style:inset;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.profile-pic {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    object-fit:cover;
}

/* you spin me right round baby right round like a record baby right round round round */

#spinner {
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    text-align: center;
}

@keyframes spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(-360deg); }
}

@keyframes depth {
    50% { text-shadow: 0 0 var(--color-white); }
    25% { text-shadow: 1px 0 var(--color-white), 2px 0 var(--color-white), 3px 0 var(--color-white), 4px 0 var(--color-white), 5px 0 var(--color-white); }
    50% { text-shadow: 0 0 var(--color-white); }
    75% { text-shadow: -1px 0 var(--color-white), -2px 0 var(--color-white), -3px 0 var(--color-white), -4px 0 var(--color-white), -5px 0 var(--color-white); }
    100% { text-shadow: 0 0 var(--color-white); }
}

/* Estilos do popup do login */

.popup-login {
    margin: 0;
    border: none;
    padding: 0.5rem;
    font-family: "Times New Roman", Times, serif;
    background-color: #C0C0C0;
    display:flex;
    flex-direction: row;
}

.login-img-wrapper {
    width:40%;
    display:flex;
    justify-content:center;
}

.login-img {
    height: 100px;
    width: 80%;
    border-style: inset;
}

.login-img img{
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.login-form {
    margin-left:0.5rem;
    width:60%;
    display: flex;
    flex-direction: column;
}

.login-form .input{
    width: 80%;
}

.login-form span {
    font-size: 12px;
    text-decoration:underline;
    cursor:pointer;
}

.login-form span:hover {
    font-style:italic;
}

.submit-button {
    margin-top: 20px;
    width: 50%;
    background-color: #C0C0C0;
    border-style: outset;
}

/* Estilos do popup do registo */

.popup-register {
    margin: 0;
    border: none;
    padding: 0.5rem;
    font-family: "Times New Roman", Times, serif;
    background-color: #C0C0C0;
    display:flex;
    flex-direction: row;
}

.register-img-wrapper {
    width:40%;
    display:flex;
    justify-content:center;
}

.register-img {
    margin-top: 1rem;
    height: 120px;
    width: 80%;
    border-style: inset;
}

.register-img img{
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.register-form {
    margin-left:0.5rem;
    width:60%;
    display: flex;
    flex-direction: column;
}

.register-form .input{
    width: 80%;
}

/* Estilos do popup da recuperação da password */

.popup-recover-pass {
    margin: 0;
    border: none;
    padding: 0.5rem;
    font-family: "Times New Roman", Times, serif;
    background-color: #C0C0C0;
    display:flex;
    flex-direction: row;
}

.recover-img-wrapper {
    width:40%;
    display:flex;
    justify-content:center;
}

.recover-img {
    margin-top: 0.2rem;
    height: 80px;
    width: 80%;
    border-style: inset;
}

.recover-img img{
    height: 80px;
    width: 100%;
    object-fit: cover;
}

.recover-form {
    margin-left:0.5rem;
    width:60%;
    display: flex;
    flex-direction: column;
}

.recover-form .input{
    width: 80%;
}

/* Estilos do popup do new question */

.popup-question {
    margin: 0;
    border: none;
    padding: 0.5rem;
    font-family: "Times New Roman", Times, serif;
    background-color: #C0C0C0;
    display:flex;
    flex-direction: row;
}

.question-img-wrapper {
    width:40%;
    display:flex;
    justify-content:center;
}

.question-img {
    margin-top: 1rem;
    height: 300px;
    width: 80%;
    border-style: inset;
}

.question-img img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.question-form {
    margin-left:0.5rem;
    width:60%;
    display: flex;
    flex-direction: column;
}

.question-form .input{
    width: 80%;
}

.submit-button {
    margin-top: 20px;
    width: 50%;
    background-color: #C0C0C0;
    border-style: outset;
}